src/xsd/choiceIndicator.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.tinh.com/schema/choiceIndicator"
            elementFormDefault="qualified">
    <xsd:element name="Person">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element name="firstName" type="xsd:string"/>
                <xsd:element name="lastName" type="xsd:string"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>