src/xsd/nilDemo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.tinh.com/schema/nilDemo"
            xmlns:tns="http://xml.tinh.com/schema/nilDemo"
            elementFormDefault="qualified">
    <xsd:element name="Author">
        <xsd:complexType>
           <xsd:sequence>
               <xsd:element name="firstName" type="xsd:string"/>
               <xsd:element name="middleName" type="xsd:string" nillable="true"/>
               <xsd:element name="lastName" type="xsd:string"/>
           </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>