src/xsd/simpleComplexType.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.tinh.com/schema/simpleComplexType"
            elementFormDefault="qualified">
    <xsd:element name="Product" type="Type"/>
    <xsd:complexType name="Type">
        <xsd:attribute name="id" type="xsd:positiveInteger"/>
    </xsd:complexType>
</xsd:schema>